# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.venv/

# Data (Protect your personal job logs!)
*.xlsx
*.csv
*.zip
*.pdf

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db